<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>游戏规则首頁</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="css/style.css?v0707" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div class="main" v-cloak>
        <div class="main_top">
            <div class="main_title">
                <a class="logo"><img :src="leftlogo" class="left-logo"></a>
                <div class="select_leng">
                    <select id="leng" class="soflow-color" v-model="selected" :style="{ backgroundImage: 'url(' + imgChange + ')' }">
                        <option value="" v-for="item in option" :value="item.value">{{item.text}}</option>
                    </select>
                </div>
            </div>
            <div class="mobile_list">
                <a href="#">{{nav_content.rule}}</a>
                <div class="mobile_list_btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="main-left">
                <div class="leftUl">
                    <div class="game_list">
                        <ul class="game_item">
                            <li v-for="(item, index) in nav_content" :id="item.type" :class="{'selected':key==item.type}">
                                <a href="#" @click="setContent(index)" :id="'item'+index" :class="{'drop':item.child.length}">{{item.name}}</a>
                                <ul v-if="item.child.length">
                                    <li v-for="(child,index) in item.child" :id="child.type" :class="{'selected':key==child.type}">
                                        <a href="#" @click="key=child.type">{{child.name}}</a>

                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="replace" v-html="content" class="main-right minH">

        </div>
    </div>
    <script src="js/jquery.min-1.9.1.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js'></script>
    <script src="js/vedio.js?v0717"></script>
    <script type="text/javascript">
        $(function() {

            $('.mobile_list_btn').on("click touch", function(e) {
                e.preventDefault();

                $(".game_list").slideToggle(200);
                $(this).toggleClass('open');

            });

            $(document).ready(sizeContent);
            $(window).resize(sizeContent);

            function sizeContent() {
                var wrapHeight = $(window).height() - $(".main_title").height() - $(".mobile_list").height();
                var wrapWidth = $(window).width();
                var wrapHeight2 = $(window).height() - $(".main_title").height();

                $(".minH").css("min-height", wrapHeight2);

                if (wrapWidth > 980) {
                    $(".game_list").show();
                } else {
                    $(".game_list").hide();
                    $(".game_list").height(wrapHeight);
                    if ($(".mobile_list_btn").hasClass('open')) {
                        $(".mobile_list_btn").removeClass('open');
                    }

                }


            }

        })
    </script>
</body>

</html>